{% extends 'back/base_main.html' %}
{% block title %}
    添加分类
{% endblock %}
{% block content %}
<section class="rt_wrap mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">文章分类</h2>
            <a class="fr top_rt_btn" href="goods_category_list.html">返回文章分类列表</a>
        </div>
        <form action="" method="post">
            {{ error }}
            <section>
                <ul class="ulColumn2">
                    <li>
                        <span class="item_name" style="width:120px;">分类名称：</span>
                        <input name="atype" type="text" name="atype">
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;"></span>
                        <input type="submit" class="link_btn" value="确认添加" />
                    </li>
                </ul>
            </section>
        </form>
    </div>
</section>
{% endblock %}
